<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp-Camp</title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />  
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %> 
    <div class="container">
        <%- include('../partials/flash.ejs') %> 
        <%- body %>
    </div>
    <%- include("../partials/footer") %>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/validate.js"></script>
</body>
</html>